on:
  push:
    branches:
      - main
  pull_request:

jobs:
  fmt:
    name: Format
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
    - name: Install nightly@nightly toolchain
      uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        toolchain: nightly
        components: rustfmt
    - name: Format
      run: cargo +nightly fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
    - name: Install stable@stable toolchain
      uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        components: clippy
    - name: Run Clippy
      run: cargo clippy --locked --all-targets

  test:
    strategy:
      matrix:
        runner: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - run: cargo test
  example:
    strategy:
      matrix:
        runner: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - run: |
          cd demo
          cargo build -r
      - run: cargo run --example demo
